
html, body {
    margin: 0;
    background: #0e242d;
    height: 100%;
}

.outer {
    margin-top: 15%;
    display: table;
    position: absolute;
    /* height: 100%; */
    width: 100%;
}

.outer::before {
    height: 46px;
    position: absolute;
    left: 0;
    width: 100%;
    top: -86px;
    content: " ";
    background: url(discord_logo.svg) 50% no-repeat;
    opacity: .2;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

.container-box {
    position: relative;
    z-index: 1;
    max-width: 360px;
    padding: 15px 45px 20px;
    text-align: center;
    /* margin-top: 40%; */
}

.container-box {
    border-radius: 5px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.logos {

}

.logos img {
    vertical-align: middle
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
}


ul {
    list-style-type: none;
    margin-top: 5px;
    margin-left: -5%;
}

ul a {
    text-decoration: none;
    color: #0e242d;
    /*text-shadow: 2px 2px 1px #000;*/
    /* font-weight: bold; */
}

ul a:hover {
/* 	color: #244477; */
    text-shadow: 0 0 1px #000;
}

/*flags*/


.flag-list {
    margin: 0 auto;
    max-width: 650px;
    font-size: 14px;
    padding-top: 5%;
}

.flag-list .community {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding-top: 20px;
    padding-bottom: 30px;
    opacity: 0.75;
}

.flag-list .community a {
    color: white;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.flag-list .community:hover {
    opacity: 1;
    color: #ffd600;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.flag-list .community a:hover {
    color: #ffd600;
}

.flag-list .community img {
    height: auto;
    border-radius: 5px;
    opacity: 0.9;
}

.flag-list .community span {
    display: block;
    margin-top: 5px;
}

/*buttons*/

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333;
    background-color: #e6e6e6;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    /*border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;*/
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/
    /*-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);*/
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.validation-field {
    margin-top: 5px;
}

.captcha {
    margin-left: -15px;
    margin-bottom: 15px;
}